.App {
  text-align: center;
  color: rgb(85, 85, 85);
  font-size: 24px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  min-height: 10vh;
}

.credits {
  text-align: center;
  color: rgb(85, 85, 85);
  font-size: 14px;
}
