.has-search .form-control {
  padding-right: 0rem;
  padding-left: 2.375rem;
  text-align: center;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.Dictionaryblock {
  border-radius: 24px;
  padding: 35px;
  background-color: #292323;

  max-height: calc(100vh - 125px);
  overflow-y: scroll;
}

.Dictionaryblock::-webkit-scrollbar {
  display: none;
}

.Searchheader {
  color: #f6dfc3d9;
  font-size: 20px;
}

.Searchbar {
  border-radius: 12px;
}

.Displayresults {
  background-color: #1f1e1d;
  border-radius: 34px;
  max-width: 1100px;
  padding: 15px;
  margin-top: 10px;
}
