.has-search .form-control {
  padding-right: 4.375rem;
  padding-left: 4.375rem;
  text-align: center;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 52.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
