body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  height: calc(100vh - 15px);
  width: 100%;

  background-image: url(https://miro.medium.com/max/2000/1*2DJCfkymg3C3hU7_nv7jQg.jpeg);
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #fbead4a1;
}
